body{
	font-family:"Lucida Grande",Sans,Serif;
}

#topMenu {

    background: -webkit-gradient(linear, left top, left bottom, from(#C8C8C8), to(#A8A8A8));
    text-shadow: 0 1px #FFFFFF;
    box-shadow: 0 1px #000000;
}

.span1_topMenuTxt {
    
    text-align: center;
	margin-top: 1em;
    margin-left: 2em;   

}
#bottomMenu {
   
   margin-top: 1em;
   margin-left: 3.5em; 
   
}
#when{
   margin-top: 1em;
   margin-left: 3.5em; 
}
#dropDown{
   margin-left: 5em; 
}
