#slider1 {
    width: 1110px;
    height: 630px;
    position: relative; /* important */
    overflow: hidden; /* important */
}
.slideContainer{
    -webkit-box-shadow: 0px 0px 9px 3px rgba(250, 245, 245, 0.3);
       -moz-box-shadow: 0px 0px 9px 3px rgba(250, 245, 245, 0.3);
            box-shadow: 0px 0px 9px 3px rgba(250, 245, 245, 0.3);
    background-color: rgba(250, 247, 247, 0.18);
    width: 840px;
    height: 500px;
    border-radius: 5px;
    margin: 15px 20px 20px 180px;
    padding: 15px;
}

#slider1Content {
    width: 840px;
    height: 500px;
    position: absolute;
    top: 0;
    margin-left: 0;
    padding-left: 0px;
}
.slider1Image {
    float: left;
    position: relative;
    display: none;
}
.slider1Image span {
    position: absolute;
    font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 694px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
    clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
    top: 0;
    left: 0;
    width: 110px !important;
    height: 280px;
}
.right {
    right: 0;
    bottom: 0;
    width: 150px !important;
    height: 350px;
}
ul { list-style-type: none;}